In [2]:
l = [0, 1, 2, 3, 4, 5, 6]
print(l[0])
print(l[1:])

# we may want to unpack every single item in an iterable

0
[1, 2, 3, 4, 5, 6]

In [5]:
l = [0, 1, 2, 3, 4, 5, 6]
a, b = l[0], l[1:]
print(a)
print(b)

0
[1, 2, 3, 4, 5, 6]

In [9]:
l = [0, 1, 2, 3, 4, 5, 6]
a, *b = l
print(a)
print(b, type(b))

0
[1, 2, 3, 4, 5, 6] <class 'list'>

In [8]:
l = (0, 1, 2, 3, 4, 5, 6)
a, *b = l
print(a)
print(b, type(b))

0
[1, 2, 3, 4, 5, 6] <class 'list'>

In [10]:
l = {0, 1, 2, 3, 4, 5, 6}
a, *b = l
print(a)
print(b, type(b))

0
[1, 2, 3, 4, 5, 6] <class 'list'>

In [11]:
l = "0123456"
a, *b = l
print(a)
print(b, type(b))

0
['1', '2', '3', '4', '5', '6'] <class 'list'>

In [12]:
l = [0, 1, 2, 3, 4, 5, 6]
a, b, *c = l
print(a)
print(b, type(b))
print(c, type(c))

0
1 <class 'int'>
[2, 3, 4, 5, 6] <class 'list'>

In [20]:
l = [0, 1, 2, 3, 4, 5, 6]
a, b, *c, d = l
print(a)
print(b, type(b))
print(c, type(c))
print(d, type(d))

0
1 <class 'int'>
[2, 3, 4, 5] <class 'list'>
6 <class 'int'>

In [21]:
l = "0123456789"
a, b, *c, d = l
print(a)
print(b, type(b))
print(c, type(c))
print(d, type(d))

0
1 <class 'str'>
['2', '3', '4', '5', '6', '7', '8'] <class 'list'>
9 <class 'str'>

In [22]:
l = [0, 1, 2, 3, 4, 5, 6]
a, *b, *c = l

SyntaxError: two starred expressions in assignment (<ipython-input-22-0cd67fa2d996>, line 2)

In [26]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]

[*l1, *l2]

[1, 2, 3, 4, 5, 6]

In [27]:
l1 = [1, 2, 3]
l2 = "456"

[*l1, *l2]

[1, 2, 3, '4', '5', '6']

In [28]:
l = {1, 2, 3, 4, 5, 6, 7, 8, 9}
a, b, *c, d = l
print(a)
print(b, type(b))
print(c, type(c))
print(d, type(d))

1
2 <class 'int'>
[3, 4, 5, 6, 7, 8] <class 'list'>
9 <class 'int'>

In [34]:
d1 = {'p':1, 'y':2}
d2 = {'t':3, 'h':4}
d3 = {'h':5, 'o':6, 'n':7}

print([d1, d2, d3])
print([*d1, *d2, *d3])
print({*d1, *d2, *d3})

[{'p': 1, 'y': 2}, {'t': 3, 'h': 4}, {'h': 5, 'o': 6, 'n': 7}]
['p', 'y', 't', 'h', 'h', 'o', 'n']
{'t', 'p', 'h', 'n', 'o', 'y'}

In [41]:
d1 = {'p':1, 'y':2}
d2 = {'t':3, 'h':4}
d3 = {'h':5, 'o':6, 'n':7}
print({**d1})
print({**d1, **d2, **d3})
# value of 'h' in d3 overwrote  the value of 'h' in d2

{'p': 1, 'y': 2}
{'p': 1, 'y': 2, 't': 3, 'h': 5, 'o': 6, 'n': 7}

In [44]:
d1 = {'a': 1, 'b': 2}
d2 = {'a':10, 'c':3, **d1}
print(d2)

d3 = { **d1, 'a':10, 'c':3}
print(d3)

{'a': 1, 'c': 3, 'b': 2}
{'a': 10, 'b': 2, 'c': 3}

In [46]:
[1, 2, *[3,4]]

[1, 2, 3, 4]

In [48]:
a, b, (c, d) = [1, 2, [3,4]]
print(a,b,c,d)

1 2 3 4

In [50]:
a, *b, (c,d,e) = [1,2,3, 'xyz']
print(a, b, c, d, e)

1 [2, 3] x y z

In [51]:
a, *b, (c,*d) = [1,2,3, 'xyz']
print(a, b, c, d)

1 [2, 3] x ['y', 'z']

In [58]:
s1 = {1,   2,  3}
s2 = {4,   5,  3}
s3 = {7,   2,  3}
s4 = {10, 11,  3}

print(   s1.union(s2).union(s3).union(s4)   )
print(   s1.union(s2, s3, s4)   )
print(   {*s1, *s2, *s3, *s4}   )
print(   [*s1, *s2, *s3, *s4]   )

{1, 2, 3, 4, 5, 7, 10, 11}
{1, 2, 3, 4, 5, 7, 10, 11}
{1, 2, 3, 4, 5, 7, 10, 11}
[1, 2, 3, 3, 4, 5, 2, 3, 7, 3, 10, 11]

In [64]:
l = [1, 2, 3, 4, 'python']
l[0], l[1:-1], l[-1][0], l[-1][2:], list(l[-1][2:])

(1, [2, 3, 4], 'p', 'thon', ['t', 'h', 'o', 'n'])