In [4]:
1 ,2 ,3 # what defines a tuple in python, is not ()  but ,

(1, 2, 3)

In [5]:
(1, 2, 3) # The () are used to make  the tuple  clearer

(1, 2, 3)

In [19]:
print( type( (1,) ))
print( type( (1)  ))
print( type(  1,  ))

<class 'tuple'>
<class 'int'>
<class 'int'>

In [54]:
print(('a') , type( ('a' ) ))
print(('a') , type( ('a',) ))

a <class 'str'>
a <class 'tuple'>

In [22]:
(), type(()) # empty tuple

((), tuple)

In [25]:
a, b, c = [1,2,3]
print(a)
print(b)
print(c)

1
2
3

In [29]:
a, b, c = 10, 20, 'hello'
print(a)
print(b)
print(c)

10
20
hello

In [30]:
a, b, c = "XYZ"
print(a)
print(b)
print(c)

X
Y
Z

In [33]:
a = 10
b = 20 

# instead of writing 

a,b= 10, 20

In [34]:
for e in 10, 20, "hello":
    print(e)

10
20
hello

In [71]:
a, b = 1, 3
a, b  = (1, 3)
(a, b) = (1,3)

In [35]:
for e in "XYZ":
    print(e)

X
Y
Z

In [40]:
a = 10
b = 20

a,b = b,a

print("a = ", a)
print("b = ", b)

# swapping values of two variables
# This works in python, the entire RHS is evaluated 
# first  and compeletly then assignments are made to the LHS

a =  20
b =  10

In [46]:
d = { "key1": 1, "key2": 2, "key3": 3, }
a, b, c = d
print(a, d[a])
print(b, d[b])
print(c, d[c])

# Dictionaries (and sets) are unordered  types,
# They can be iterated, but there is no guaranted
#  the order of the result will match you expected

# In practice, we rarely unpacked sets and dictinonaries in precisely this way

key1 1
key2 2
key3 3

In [92]:
d = { "key1": 1, "key2": 2, "key3": 3, }
print(type(d.keys()))
for e in d.keys():
    print(e)

<class 'dict_keys'>
key1
key2
key3

In [91]:
d = { "key1": 1, "key2": 2, "key3": 3, }
print(type(d.values()))
for e in d.values():
    print(e)

<class 'dict_values'>
1
2
3

In [90]:
d = { "key1": 1, "key2": 2, "key3": 3, }
print(type(d.items()))
for key,value in d.items():
    print(key, type(key),value , type(value))

<class 'dict_items'>
key1 <class 'str'> 1 <class 'int'>
key2 <class 'str'> 2 <class 'int'>
key3 <class 'str'> 3 <class 'int'>

In [50]:
s = {'p', 'y', 't', 'h', 'o', 'n'}
a, b, c, d, e, f= s