In python,an Iterable is an  Object capable of returning values ones at a time

In [8]:
for i in range(4):
    print(i)
print(i)

0
1
2
3
3

In [13]:
i = 0
while i < 5:
    print(i)
    i+=1
i = None

0
1
2
3
4

In [14]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [15]:
for c in 'hello':
    print(c)

h
e
l
l
o

In [16]:
for a in [1,2,3, "a", "b", "c"]:
    print(a)

1
2
3
a
b
c

In [17]:
for a in (1,2,3,4,"a","b","c"):
    print(a)

1
2
3
4
a
b
c

In [20]:
for (i,j) in [(1,2), (3,4), (5,6)]:
    print(i,j)

1 2
3 4
5 6

In [21]:
for x in [(1,2), (3,4), (5,6)]:
    print(x)

(1, 2)
(3, 4)
(5, 6)

In [23]:
for i in range(8):
    if i==7:
        break
    print(i)

0
1
2
3
4
5
6

In [3]:
for i in range(1,4):
    print(i)
    if i % 7 ==0:
        print(" multiple of 7 found")
        break
else:
    print("no multiples of 7 in the range")

1
2
3
no multiples of 7 in the range

In [5]:
for i in range(5):
    print("---------------")
    try:
        10 / (i-3)
    except ZeroDivisionError:
        print("divided  by zero !!!")
    finally:
        print("always")
    print(i)

---------------
always
0
---------------
always
1
---------------
always
2
---------------
divided  by zero !!!
always
3
---------------
always
4

In [7]:
s = "hello"
for c in s:
    print(c)

h
e
l
l
o

In [10]:
s = "hello"
i = 0
for c in s:
    print(i,c)
    i+=1

0 h
1 e
2 l
3 l
4 o

In [11]:
s = "hello"
for i in range(len(s)):
    print(i, s[i])

0 h
1 e
2 l
3 l
4 o

In [14]:
s = "hello"
for i,c in enumerate(s):
    print(i, c)

0 h
1 e
2 l
3 l
4 o