In [4]:
lambda x:x**2
lambda x,y: x*y
lambda : "hello"
lambda s:s[::-1].upper()

In [5]:
type( lambda x:x**2)

function

In [18]:
my_lmbda = lambda x:x**2
print(type(my_lmbda))
my_lmbda
# anonymouse function  (without name)

<class 'function'>

In [19]:
def my_func():
    pass
print(type(my_func))
my_func

<class 'function'>

In [8]:
my_func1 = lambda x:x**2
my_func1(3)

9

In [14]:
 my_func1 =  lambda x:x**2

def apply_func(x, fn):
    return fn(x)

apply_func(10, my_func1)

100

In [16]:
def apply_func(x, fn):
    return fn(x)

apply_func(10, lambda x:x**2)

100

In [21]:
def my_func():
    pass

my_func2 = my_func

id(my_func2), id(my_func)

(140602701083552, 140602701083552)

In [24]:
my_lmbda = lambda x:x**2

my_lmbda2 = my_lmbda

id(my_lmbda2), id(my_lmbda)

(140602689284848, 140602689284848)

In [25]:
my_lmbda = lambda x,y=10: x*y

my_lmbda(1, 10), my_lmbda(1)

(10, 10)

In [26]:
f = lambda x,*args, y, **kwargs: (x, args, y, kwargs)
f(10, "args", y=10, z="z")

(10, ('args',), 10, {'z': 'z'})