In [1]:
a = (1, 2, 3)
b = 1, 2, 3
type(a), type(b)

(tuple, tuple)

In [2]:
def print_tp(t):
    for e in t:
        print(e)
print_tp( (1,2,3,4,5,) )

1
2
3
4
5

In [3]:
a = 1, 2, 3, 4, 5, 6, 7, 8
type(a), a[1:6]

(tuple, (2, 3, 4, 5, 6))

In [4]:
x, y, z = 'a', 10, 20

print(x)
print(y)
print(z)

a
10
20

In [5]:
x, *other, y, z = 1, 2, 3, 4, 5, 6, 7

In [6]:
other, type(other),x,y,z

([2, 3, 4, 5], list, 1, 6, 7)

In [7]:
x, *_, y, z = 1, 2, 3, 4, 5, 6, 7

In [8]:
_, type(_),x,y,z

([2, 3, 4, 5], list, 1, 6, 7)

In [22]:
a = 1,2,3,4,5
a[0], a[1], a[2]

(1, 2, 3)

In [23]:
a = 1,2,3,4,5
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [20]:
a = 1, 2, 3, 4, 5, 6, 7, 8
x, *other, y, z = a

print('x > ', x)
print('other > ', other)
print('y > ', y)
print('z > ', z)

x >  1
other >  [2, 3, 4, 5, 6]
y >  7
z >  8

In [16]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def __repr__(self):
        return f'{self.__class__.__name__} (x={self.x}, y={self.y})'


pt = Point2D(1,2)
pt

Point2D (x=1, y=2)

In [29]:
a = Point2D(100, 200), Point2D(300, 400)
a[0].x = 150
a[0].x

150

In [28]:
a[0].x = 150

In [32]:
a = 1, 2, 3
a += 4, 5, 6
a

(1, 2, 3, 4, 5, 6)

In [33]:
london = 'London', 'UK', 2_700_000
new_york = 'New York', 'USA', 8_500_000
beijin = 'Beiging', 'China', 21_000_000

cities = [london, new_york, beijin]

In [34]:
total = 0

for city in cities:
    total += city[2]

total

32200000

In [36]:
sum([city[2] for city in cities])

32200000

In [43]:
for name, country, population in cities:
    print(name, country, population)

London UK 2700000
New York USA 8500000
Beiging China 21000000

In [47]:
for city in enumerate(cities):
    print(city)

(0, ('London', 'UK', 2700000))
(1, ('New York', 'USA', 8500000))
(2, ('Beiging', 'China', 21000000))

In [51]:
for index,city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 2700000)
1 ('New York', 'USA', 8500000)
2 ('Beiging', 'China', 21000000)

In [39]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072
symbol, year, month, day, low, high, open_, close = record 
symbol, close

('DJIA', 26072)

In [41]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072
symbol, *_, close = record 
symbol, close

('DJIA', 26072)

In [75]:
from random import uniform
from math import sqrt

def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)

    if (sqrt(random_x**2 + random_y**2))< radius:
        is_in_circle = True
    else:
        is_in_circle = False
    
    return random_x, random_y, is_in_circle


num_attemps = 1_000_000
count_inside = 0

for i in range(num_attemps):
    *_, is_in_circle = random_shot(10)

    if is_in_circle:
        count_inside+=1


print(f'Pi is approximately: {4*count_inside/num_attemps }')

Pi is approximately: 3.140264