In [4]:
from collections import namedtuple

In [6]:
Point2D = namedtuple('Point2D', 'x y')
pt = Point2D(10, 20)
pt

Point2D(x=10, y=20)

In [7]:
pt.x = 100

AttributeError: can't set attribute

In [8]:
pt[0] = 100

TypeError: 'Point2D' object does not support item assignment

In [15]:
print(id(pt))

pt = Point2D(100, pt.y)

pt, id(pt)

140340500482816

(Point2D(x=100, y=20), 140340498398784)

In [21]:
a = [1, 2, 3]
print(a , id(a))

a.extend([5, 6, 7])
print(a , id(a))

[1, 2, 3] 140340794624960
[1, 2, 3, 5, 6, 7] 140340794624960

In [30]:
Stock = namedtuple('Stock', '''
    symbol
    year
    month
    day
    open
    high
    low
    close
''')

djia = Stock('DJIA', 2018, 1, 25, 26_000, 27_000, 25_000, 26_500)

djia, id(djia)

(Stock(symbol='DJIA', year=2018, month=1, day=25, open=26000, high=27000, low=25000, close=26500),
 140340495022336)

In [31]:
djia = djia._replace(year=2010, open=26_100)
djia, id(djia)

(Stock(symbol='DJIA', year=2010, month=1, day=25, open=26100, high=27000, low=25000, close=26500),
 140340495023344)

In [34]:
*values, = djia
djia._make(['DJIA', 2018, 1, 25, 26_000, 27_000, 25_000, 26_500])

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26000, high=27000, low=25000, close=26500)

In [48]:
Point2D = namedtuple('Point2D', ['x', 'y'])

pt2 = Point2D(10, 20)

Point2D._fields + ('z',)

Point2D(x=10, y=20)

('x', 'y', 'z')

In [50]:
Point3D = namedtuple('Point3D', Point2D._fields + ('z',))

pt3 = Point3D(*pt2, 30)
point3D._fields

('x', 'y', 'z')

('x', 'y', 'z')