In [4]:
from collections import namedtuple

In [32]:
Point2D = namedtuple('Point2D', ['x', 'y'])
pt2d = Point2D(1, 2)

print(pt2d.x, pt2d.y)

x,y = pt2d

print(x,y)
print(pt2d[0], pt2d[1])

1 2
1 2
1 2

In [34]:
pt2d

Point2D(x=1, y=2)

In [35]:
Point2D

__main__.Point2D

In [36]:
isinstance(pt2d, tuple)

True

In [38]:
pt1 = Point2D(1,2)
pt2 = Point2D(1,2)

pt1==pt2, pt1 is pt2

(True, False)

In [40]:
 class Point3D:
     def __init__(self, x, y, z):
         self.x = x
         self.y = y
         self.z = z

pt1 = Point3D(1,2,3)
pt2 = Point3D(1,2,3)

pt1==pt2, pt1 is pt2

(False, False)

In [49]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z
            
    def __repr__(self):
        return f'{self.__class__.__name__} (x={self.x}, y={self.y})'
    
    def __eq__(self, other):
        if isinstance(self, Point3D):
            return self.x==other.x and self.y==other.y and self.z==other.z
        return False


pt1 = Point3D(1,2,3)
pt2 = Point3D(1,2,3)

pt1==pt2, pt1 is pt2

(True, False)

In [62]:
a = 1, 2, 3
b = 4, 5, 6
print(list(zip(a,b)))

def dot_product(a,b):
    return sum(e[0]*e[1] for e in list(zip(a,b)))

dot_product(a, b)

[(1, 4), (2, 5), (3, 6)]

32

In [63]:
Vector3D = namedtuple('Vector3D', ['x', 'y', 'z'])

In [65]:
v1 = Vector3D(1, 2, 3)
v2 = Vector3D(4, 5, 6)
dot_product(v1, v2)

32

In [67]:
v1, type(v1)

(Vector3D(x=1, y=2, z=3), __main__.Vector3D)

In [69]:
tuple(v1), type(tuple(v1))

((1, 2, 3), tuple)

In [74]:
Stock = namedtuple('Stock', '''
    symbol
    year
    month
    day
    open
    high
    low
    close
''')

djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [75]:
djia.close

26393

In [76]:
for item in djia:
    print(item)

DJIA
2018
1
25
26313
26458
26260
26393

In [78]:
symbol, year, *_, close = djia
symbol

'DJIA'

In [79]:
Person = namedtuple('Person', 'name _age')

ValueError: Field names cannot start with an underscore: '_age'

In [84]:
Person = namedtuple('Person', 'name _age', rename=True)

p1 = Person('erfan', 29)
p1

Person(name='erfan', _1=29)

In [86]:
Person = namedtuple('Person', 'name age')

p1 = Person('erfan', 29)
p1._fields

('name', 'age')

In [90]:
p1_dict = p1._asdict()
p1_dict, type(p1_dict), p1_dict['name'], p1_dict['age']

({'name': 'erfan', 'age': 29}, dict, 'erfan', 29)